* {margin: 0px; padding: 0px;}

header, main, nav, section, aside, footer, article {display: block;}

@viewport {

    zoom:1;
}

#wrapper {
    margin: 0px auto;
    width: 1024px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.clear {
    clear: both;
}

button {
    background-color: transparent;
    border: none;
}

button:focus {outline:0;}

header {
    height: 140px;
    background-color: #606060;
}

main {
    position: relative;
    height: 100%;
    border: black solid 1px;
    width: 1022px;
}

#field {

    position: absolute;
    height: 505px;
    width: 500px;
    float: right;
    left: 227px;
    top: 0px;

}

.stopWatch {
    height: 85px;
    border-bottom: black solid 0.5px;
    text-align: center;
}


ul {
    position: relative;
    list-style-type: none;
}

#icons {
    width: 84px;
    height: 473px;
    border-right: black solid 0.1px;
    float: left;
}

#functions {
    width: 227px;
    background-color: #f7f6f6;
    height: 596px;
}

#lists {
    position: absolute;
    width: 143px;
    height: 510px;
    left: 84px;
}

#teams-list {
    display: none;
}

#players-list {
    display: none;
}

#teams-list li {
    position: relative;
    width: 130px;
    height: 35px;
    float: left;
    bottom: 32px;
    left: 3px;
    padding-top: 46px;
    font-family: 'Poppins', sans-serif;

}
 h5 {
    position: relative;
    height: 5px;
    width: fit-content;
    left: 35px;
    bottom: 23px;
 }

 .myButton {
    padding-top: 4px;
    background-color: transparent;
    border: none;
 }

 .iconsList {
     position: relative;
     padding-top: 36px;
     background-color: transparent;
     border: none;
 }

 button {
     border: none;
     align-content: center;
 }

#icons h4 {
    position: relative;
    font-size: 11.5px;
    top: 5px;
    font-family: 'Poppins', sans-serif;
}

.fa-futbol-o {
    position: relative;
    left: 10px;
}
.fa-braille {
    position: relative;
    left: 14px;
}
.fa-male {
    position: relative;
    left: 21px;
}
.fa-exchange-alt {
    position: relative;
    left: 11px;
}
.fa-comment {
    position: relative;
    left: 12px;
}
.fa-pencil-alt {
    position: relative;
    left: 12px;
}

#formation-list {
    height: 510px;
    overflow-y: scroll;
    display: none;
}


#formation-list h6 {
    width: 130px;
    height: 10px;
    margin-top: 23px;
    margin-left: 10px;
    font-size: 11.5px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

#players-list {
    height: 510px;
    overflow-y: scroll;
}

#players-list img {
    position: relative;
    top: 5px;
    left: 5px;
}

#players-list h5 {
    position: relative;
    left: 47px;
    font-size: 11.5px;
    font-family: 'Poppins', sans-serif;
}