* {
    margin: 0px;
    padding: 0px;
}

header, main, nav, aside, article, section, footer {
    display: block;
}

#wrapper {
    width: 1024px;
    margin: 0px auto;
}









/*---------------------INDEX---------------------*/

#index header {
    width: 1024px;      height: 140px;
    background-color: #606060;
}

#index #logo {
    width: 95px;    height: 80px;
}

#index header > p {
    display: inline;
    color: #ffffff;
    float: right;
    position: relative;
    top: 25px;   right: 100px;
}
#index #reuven {
    background: url(../images/reuven.png);
    background-repeat: no-repeat;
    display: block;
    position: relative;
    width: 85px;    height: 85px;
    float: right;
    left: 100px;
}

#index main > section {
    height: 560px;
    border: solid 0.5px;
    background: url(../images/background.svg);
    background-repeat: no-repeat;
    display: block;
    opacity: 0.75;
}

#index #self, #index #rival {
    width: 390px;   height: 71px;
    position: relative;
    left: 340px;
    border-radius: 7px;
    background-color: #111111;
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/* too long */
#index main > section >  article > a{   
    text-decoration: none;
    color: #d6dbda;
}

#index #self{
    top: 225px; 
}

#index #rival{
    top: 250px;
}

/*---------------------//INDEX---------------------*/















/*---------------------MainMenu---------------------*/

#selfMenu header {
    width: 1024px;      height: 140px;
    background-color: #606060;
}

#selfMenu #logo {
    width: 95px;    height: 80px;
}

#selfMenu header > p {
    display: inline;
    color: #ffffff;
    float: right;
    position: relative;
    top: 25px;   right: 100px;
}
#selfMenu #reuven {
    background: url(../images/reuven.png);
    background-repeat: no-repeat;
    display: block;
    position: relative;
    left: 100px;
    width: 85px;    height: 85px;
    float: right;
    
}


.theNav {
    width: 1024px;  height: 45px;
    background-color: #606060 !important;
}

#navMainOptions {
    position: relative;
    right: 10px;
}

.theNav li {
    list-style: none;
    display: inline;
    position: relative;
    right: 0px;
    bottom: 14px;
}

.theNav li a {
    text-decoration: none;
    position: relative;
    top: 15px;
    padding-left: 50px;
    padding-right: 35px;
    font-size: 22px;
    color: #ffffff;
}

.hamburger i {
    color: white;
    font-size: 32px;    
    position: relative;
    float: left;
    right: 33px;
    bottom: 6px;
}

.dropdown-menu {
    position: absolute;
    border-radius: 10px;
    height: 545px;
}

.dropDownMenu .dropdown-item {
    position: relative;
    width: 250px;   height: 50px;
    right: 30px;
    padding-left: 45px;
    padding-top: 0px;
    color: #111111;
}

.dropDownMenu .dropdown-item:hover {
    width: 230px;   height: 48px;
    position: relative;
    left: 0.5px;
    top:15px;
    background-color: #fff;
}

.dropDownMenu {
    position: absolute;
    top: 48px;
    left: 13px;
}

.dropdown-divider {
    position: relative;
}

#selfMenu main > section {
    height: 560px;
    background-color: #f7f6f6;
    border: solid 0.5px;
    display: block;
    position: relative;
    opacity: 1;
}

#selfMenu main > section > article > h3 {
    width: 890px;
    padding-top: 29px;
    padding-bottom: 7px;
    font-size: 25px;
    border-bottom: solid 1px;
    position: relative;
    left: 50px;
}



/*First line of players*/

#selfMenu .playerHeadFirstLine {
    position: relative;
    top: 12px;
    float: left;
}

#selfMenu  .playerHeadFirstLine p {
    position: relative;
    font-size: 14px;
    right: 27px;
}

#selfMenu #kadoshHead {
    left: 100px;
}

#selfMenu #setkusHead {
    left: 170px;
}

#selfMenu #tamasHead {
    left: 230px;
}

#selfMenu #resmusHead {
    left: 290px;
}

#selfMenu #kapilotoHead {
 left: 350px;
}



/*Second line of players*/

#selfMenu .second {
    float: left;
}


#selfMenu .second > .playerHeadSecondLine {
    position: relative;
    top: 30px;
    font-size: 14px;    float: left;
}

#selfMenu .playerHeadSecondLine p {
    position: relative;
    right: 27px;
}


#selfMenu #fishlerHead {
    left: 100px;
}

#selfMenu #malulHead {
    left: 170px;
}

#selfMenu #magrashviliHead {
    left: 275px;
}

#selfMenu #sardalHead {
    left: 330px;
}

#selfMenu #shaimanHead {
     left: 410px;
}


/*Third line of players*/

#selfMenu .third {
    float: left;
}


#selfMenu .third > .playerHeadThirdLine {
    position: relative;
    top: 55px;
    float: left;
}

#selfMenu .playerHeadThirdLine p {
    position: relative;
    font-size: 14px;
    right: 27px;
}

#selfMenu #maximHead p {
    right: 39px;
}


#selfMenu #barskiHead {
    left: 100px;
    position: relative;
}

#selfMenu #MamanHead {
    left: 155px;
    position: relative;
}

#selfMenu #shchterHead {
    left: 223px;
    position: relative;
}

#selfMenu #CiwanHead {
    left: 290px;
    position: relative;
}

#selfMenu #maximHead {
     left: 365px;
     position: relative;
}



/*Fourth line of players*/

#selfMenu .fourth {
    float: left;
}


#selfMenu .fourth > .playerHeadFourthLine {
    position: relative;
    top: 70px;
    float: left;
}

#selfMenu .playerHeadFourthLine p {
    position: relative;
    font-size: 14px;
    right: 27px;
}

#selfMenu #arelHead p {
    right: 10px;
}

#selfMenu #arelHead {
    left: 100px;
    position: relative;
}

#selfMenu #edanHead {
    left: 202px;
    position: relative;
}

#selfMenu #ginsariHead {
    left: 263px;
    position: relative;
}

#selfMenu #turjemanHead {
    left: 338px;
    position: relative;
}

#selfMenu #lahlaHead {
     left: 410px;
     position: relative;
}


/*---------------------//MainMenu---------------------*/
















/*---------------------contactUs---------------------*/


#theForm {
    width: 590px;   height: 450px;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;
    border: ridge;
    border-radius: 15px;
    padding: 30px;
    top: 10px;
}

form {
    position: relative;
    left: 100px;
}

.form-control {
    display: inline;
    width: 180%;
}

form label .formDesign {
    border: none;
    border-bottom: solid 1px #a5a1a1;
    display: inline;
    height: 35px;
    width: 350px;
}

#comment {
    display: block;
}
#theButton {
    position: relative;
    top: 30px;  left: 130px;
    background-color: #606060;
    border-color: transparent;
}

#theButton:hover {
    background-color: #252525;
}

#successMessage {
    display: none;
    width: 450px;   height: 200px;
    position: absolute;
    top: 300px; right:490px;
    border: ridge 6px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 15px;
    
}

#theSuccessButton {
    position: relative;
    background-color: #606060;
    border-color: transparent;
    top: 30px;
}


.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: rgb(136, 158, 230);
    font-size: 12px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
    position: relative;
    right: 187px;
  }
  


/*---------------------//contactUs---------------------*/